footer {
    background-color: lightgray;
    ul {
     list-style: square;
    }
    li {
     float: left;
     a {
        padding: 5x;
       color: blue;
       font-size: 16px;
       text-decoration: none;
     }
    }
    p {
        text-align: right;
    }
}