

@media screen and (min-width:340px) and (max-width:850px) 
     {  
        .titulo {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: lightgray;
            margin-bottom: 20px;
            
          }
          
        }